apiVersion: v2
name: srm
description: Software Risk Manager
type: application
icon: https://raw.githubusercontent.com/codedx/srm-k8s/refs/heads/main/docs/images/icon.svg
version: 1.72.1
appVersion: "v2025.12.0"

dependencies:
- name: mariadb
  version: 7.7.0
  repository: https://codedx.github.io/srm-k8s
  condition: features.mariadb
- name: scan-services
  version: "2025.6.2"
  repository: https://repo.blackduck.com/cloudnative
  condition: features.scanfarm
- name: argo-workflows
  version: 0.45.22
  repository: https://argoproj.github.io/argo-helm
  condition: features.to
- name: minio
  version: 3.5.0
  repository: https://codedx.github.io/srm-k8s
  condition: features.minio
