#
# This file should be ignored when you are using Istio Ambient Mode
# (recommended) or if you have not configured TLS between SRM components.
# Otherwise, you should complete the TLS pre-work found in the Deployment Guide
# (https://github.com/codedx/srm-k8s/blob/main/docs/DeploymentGuide.md#tls-pre-work)
# before running the Helm Prep Wizard.
#
mariadb:
  master:
    # @ignore (refer to main values file for details)
    masterCaConfigMap: srm-ca-configmap
    # @ignore (refer to main values file for details)
    masterTlsSecret: srm-db-tls-secret
    # @ignore
    # the TLS-based mysql configuration for the primary database
    config: |-
      [mysqld]
      skip-name-resolve
      explicit_defaults_for_timestamp
      basedir=/usr
      datadir=/mariadb/data/
      port=3306
      socket=/usr/tmp/mysqld.sock
      tmpdir=/usr/tmp
      max_allowed_packet=16M
      bind-address=0.0.0.0
      pid-file=/usr/tmp/mysqld.pid
      character-set-server=utf8mb4
      collation-server=utf8mb4_general_ci
      optimizer_search_depth=0
      lower_case_table_names=1
      innodb_flush_log_at_trx_commit=0
      log_bin_trust_function_creators=1
      expire_logs_days=5
      ssl_cert=/mariadb/tls/cert/tls.crt
      ssl_key=/mariadb/tls/cert/tls.key
      ssl_ca=/mariadb/tls/ca/ca.crt
      [client]
      port=3306
      socket=/usr/tmp/mysqld.sock
      [manager]
      port=3306
      socket=/usr/tmp/mysqld.sock
      pid-file=/var/lib/mysql/tmp/mysqld.pid
  slave:
    # @ignore
    # the TLS-based mysql configuration for the primary database
    config: |-
      [mysqld]
      skip-name-resolve
      explicit_defaults_for_timestamp
      basedir=/usr
      datadir=/mariadb/data/
      port=3306
      socket=/usr/tmp/mysqld.socks
      tmpdir=/var/lib/mysql/tmp
      max_allowed_packet=16M
      bind-address=0.0.0.0
      pid-file=/usr/tmp/mysqld.pid
      character-set-server=utf8mb4
      collation-server=utf8mb4_general_ci
      optimizer_search_depth=0
      lower_case_table_names=1
      innodb_flush_log_at_trx_commit=0
      log_bin_trust_function_creators=1
      expire_logs_days=5

      [client]
      port=3306
      socket=/usr/tmp/mysqld.sock
      ssl_ca=/mariadb/tls/ca/ca.crt

      [manager]
      port=3306
      socket=/usr/tmp/mysqld.sock
      pid-file=/var/lib/mysql/tmp/mysqld.pid

minio:
  tls:
    # @ignore (refer to values-to.yaml file for details)
    enabled: true
    # @ignore (refer to values-to.yaml file for details)
    existingSecret: srm-minio-tls-secret

to:
  # @ignore (refer to values-to.yaml file for details)
  caConfigMap: srm-ca-configmap
  # @ignore (refer to values-to.yaml file for details)
  tlsSecret: srm-to-tls-secret
  workflowStorage:
    # @ignore (refer to values-to.yaml file for details)
    configMapName: srm-ca-configmap
    # @ignore (refer to values-to.yaml file for details)
    configMapPublicCertKeyName: ca.crt

web:
  # @ignore (refer to main values file for details)
  caConfigMap: srm-ca-configmap
  # @ignore (refer to main values file for details)
  cacertsSecret: srm-web-cacerts-secret
  # @ignore (refer to main values file for details)
  tlsSecret: srm-web-tls-secret
  service:
    # @ignore (refer to main values file for details)
    port: 9443
    # @ignore (refer to main values file for details)
    port_name: https

scan-services:
  # @ignore (refer to main values file for details)
  trust-stores:
    # @ignore (refer to main values file for details)
    configmapName: srm-ca-configmap
    # @ignore (refer to main values file for details)
    enabled: true
